*,
html,
body {
  font-family: 'Press Start 2P', cursive;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: deeppink;
}

.block-with-shadow {
  padding: 7px;
  border: 4px solid white;
  box-shadow: 7px 7px 0 0 black;
  width: 280px;
  height: 420px;
  font-size: 14px;
}


.page-section {
  padding: 50px 20px;
  background-color: #ec72fc;

  .text {
    color: white;
    text-shadow: black 2px 1px 0px;
  }

  .subtitle {
    color: white;
    text-shadow: black 4px 2px 0px;
    margin-bottom: 20px;
  }

}
